<div class="card-body">
  <div class="form-group">
    <label>Username</label>
    <input
      type="text"
      class="form-control rounded-0"
      [(ngModel)]="user.email"
      name="email"
      required
    />
  </div>
  <div class="form-group">
    <label>Password</label>
    <input
      type="password"
      class="form-control rounded-0"
      [(ngModel)]="user.password"
      name="password"
      required
    />
  </div>
  <button
    type="button"
    (click)="loginUser(user)"
    class="btn btn-success float-right"
  >
    Login
  </button>
</div>
