<form [formGroup]="loginForm" (ngSubmit)="doLoginUser()">
  <div>
    <label>Email</label>
    <input
      [class.is-invalid]="getEmail.invalid && getEmail.touched"
      type="text"
      formControlName="email"
    />
  </div>
  <div>
    <label>Password</label>
    <input
      [class.is-invalid]="getPassword.invalid && getPassword.touched"
      formControlName="password"
      type="password"
    />
  </div>
  <button [disabled]="!loginForm.valid" type="submit">
    Login
  </button>
</form>
