<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <input
    type="file"
    name="file"
    (change)="handleFileInput($event.target.files)"
  />
  <select name="types" (change)="handleType($event)">
    <option value="profile">profile</option>
    <option value="files">files</option>
    <option value="photos">photos</option>
  </select>

  <button type="submit">
    Add
  </button>
</form>

<div *ngIf="user$ | async as user">
  <p>Name: {{ user.name }}</p>
  <p>surname: {{ user.surname }}</p>
  <p>Emmail: {{ user.email }}</p>
  <p>Age: {{ user.age }}</p>
  <p *ngFor="let img of user.img">
    <img [src]="img | imageDisplay: { type: 'profile', userId: user._id }" />
  </p>
  <p *ngFor="let photo of user.photos">
    <img [src]="photo | imageDisplay: { type: 'photos', userId: user._id }" />
  </p>
  <!-- <p *ngFor="let file of user.files">
    <img [src]="file | imageDisplay: { type: 'files', userId: user._id }" />
  </p> -->
</div>
