<div *ngIf="user$ | async as user">

  <form [formGroup]="formTemplate" (ngSubmit)="onSubmitTOTO(formTemplate.value, user)">
  <!-- <form [formGroup]="form" (ngSubmit)="uploadClick()"> -->
  <!-- <form [formGroup]="form" (ngSubmit)="onSubmit(user)"> -->
    <!-- <input
      type="file"
      name="file"
      (change)="handleFileInput($event.target.files)"
    /> handleFileInput--> 
    <input type="file" formControlName="file" (change)="showPreview($event)"
     multiple="multiple">



    <select formControlName="types" >
    <!-- <select name="types" (change)="handleType($event)"> -->
      <option>Select type of file</option>
      <option value="profile">profile</option>
      <option value="files">files</option>
      <option value="photos">photos</option>
    </select>

    <button type="submit">
      Add
    </button>
  </form>

  <!--  -->

  <!-- <button class="btn btn-success btn-xs" (click)="uploadClick()">Add</button> -->
  <!--  -->


  <p>Name: {{ user.name }}</p>
  <p>surname: {{ user.surname }}</p>
  <p>Emmail: {{ user.email }}</p>
  <p>Age: {{ user.age }}</p>
  <p *ngFor="let img of user.img">
    <img [src]="img.name | urlFile: { type: 'profile', userId: user._id }" />
    {{img.name}}
  </p>
  <p *ngFor="let photo of user.photos">
    <img [src]="photo | urlFile: { type: 'photos', userId: user._id }" />
  </p>
  <p *ngFor="let file of user.files">
    <img [src]="file | fileType: { type: 'files' }" />
    <span>dd{{file.file_id.name}}</span>
  </p>

</div>
