.forgot-body {
  width: 18rem;
  height: 10rem;
  background-color: wgite;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.form-group {
  height: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.btn__forgot {
  width: 16rem;
  height: 2.5rem;
  border-radius: 0.5rem;
  border: 1px solid;
  background-color: transparent;
  border-color: #12bee4;
  color: black;

  &:hover {
    box-shadow: 0px 0px 73px -6px rgba(0, 0, 0, 1);
  }
}

input {
  border: 0;
  height: 2.5rem;
  width: 15rem;
  border-radius: 0.5rem;
  padding-left: 1rem;
  text-decoration: uppercase;
}

.disabled {
  cursor: not-allowed;
}
.notDisabled {
  cursor: pointer;
}
