<div class="forgot-body">
  <form
    [formGroup]="forgotForm"
    class="form__forgot_password"
    (ngSubmit)="sendForgotPassword()"
  >
    <div class="form-group">
      <input
        type="email"
        formControlName="email"
        placeholder="Your email"
        [class.is-invalid]="getEmail.invalid && getEmail.touched"
      />
      <app-span-form-message
        [validator-type]="getEmail"
        [minSize]="11"
        [maxSize]="50"
        [message-type]="'Email'"
      ></app-span-form-message>
    </div>

    <div>
      <button
        type="submit"
        class="btn__forgot"
        [ngClass]="!forgotForm.valid ? 'disabled' : 'notDisabled'"
        [disabled]="!forgotForm.valid"
      >
        Send a new password
      </button>
    </div>
  </form>
</div>
