td { 
  padding: 6px; 
  text-align: left; 
}

span {
  display: flex;
  justify-content: center;
  font-size: 0.75rem;
}

.actions_icons {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
}

.fas {
  color: #12bee4;
}

.user {
  &_access {
    border-radius: 0.25rem;
    color: white;
    &__ok {
      background-color: #12bee4;
    }
    &__no {
      background-color: red;
    }
  }
  &_access:hover {
    cursor: pointer;
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.5);
    color: black;
  }
}


@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px)  {
  td { 
    display: block; 
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
    padding-left: 50%; 
    &:before { 
      position: absolute;
      top: 6px;
      left: 6px;
      width: 45%; 
      padding-right: 10px; 
      white-space: nowrap;
    }
	}
	
  /* Label the data */
	td:nth-of-type(1):before { content: "Name"; }
	td:nth-of-type(2):before { content: "Surname"; }
	td:nth-of-type(3):before { content: "Age"; }
	td:nth-of-type(4):before { content: "Email"; }
	td:nth-of-type(5):before { content: "Roles"; }
	td:nth-of-type(6):before { content: "Activation"; }
	td:nth-of-type(7):before { content: "Creation date"; }
	td:nth-of-type(8):before { content: "Actions"; }
}