<div class="upload-Modal animated fadeIn" [ngClass]="_modal.cache">
  <div class="modal" style="display: block;" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Upload Image</h5>
          <button
            (click)="fermerModal()"
            type="button"
            class="close"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p *ngFor="let user of users$ | async">{{ user.name }}</p>
        </div>
        <div class="modal-footer">
          <button
            (click)="fermerModal()"
            type="button"
            class="btn btn-secondary"
          >
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
