<div class="upload-modal" [ngClass]="_modal.cache">
  <div class="modal" style="display: block;">
    <!--  -->
    <div class="modal-header">
      <h2 class="modal-title">Filter by {{ property }}</h2>
      <span (click)="closeModal()" class="modal-close"
        ><i class="fas fa-times"></i
      ></span>
    </div>

    <div class="modal-body">
      <form (ngSubmit)="filterByProperty($event, property)" class="form-body">
        <span
          class="propery__value"
          *ngFor="
            let user of users$
              | async
              | sortBy: { property: property, direction: -1 }
              | filterBy: { property: property, userItem: user }
          "
        >
          <input type="checkbox" [value]="user[property]" />
          {{ user[property] }}
        </span>
        <button class="btn__form" type="submit">
          Ok
        </button>
      </form>
    </div>

    <!--  -->
    <div class="modal-footer">
      <button (click)="closeModal()" type="button">
        Close
      </button>
    </div>

    <!--  -->
  </div>
</div>
