<nav class="navbar">
  <ul class="navbar-nav">
    <!-- LOGO  -->
    <li class="logo">
      <a class="nav-link">
        <span class="logo-text">Heroku</span>
        <i class="fas fa-arrow-right"></i>
      </a>
    </li>

    <!-- ITEM N -->
    <li
      class="nav-item"
      *ngFor="let nav of navRow"
      (click)="navigateToRoute(nav.route)"
    >
      <a class="nav-link">
        <i class="{{ nav.icone }}"></i>
        <span class="link-text">{{ nav.name }}</span>
      </a>
    </li>

    <!-- ITEM COLOR -->
    <li class="nav-item" (click)="changeTheme()">
      <a class="nav-link">
        <i class="fas fa-moon  theme-icon" id="lightIcon"></i>
        <i class="fas fa-sun theme-icon" id="solarIcon"></i>
        <i class="fas fa-glasses theme-icon" id="darkIcon"></i>
        <span class="link-text">Themify</span>
      </a>
    </li>
    <!-- ITEM LAST LOGOUT -->
    <li class="nav-item" (click)="logout()" *ngIf="userIsAuthenticated">
      <a class="nav-link">
        <i class="fas fa-power-off"></i>
        <span class="link-text">Log out</span>
      </a>
    </li>
  </ul>
</nav>
