<p *ngFor="let user of users">dfdsf {{ user.name }}</p>

<div class="container">
  <div class="row">
    <div *ngFor="let user of allUsersNormal" class="col blueNormal">
      <app-user-page
        [user]="user"
        (onShared)="sortName()"
        (onDeleteUser)="deletesUser(user)"
        (onSortAge)="sortAge()"
        (sorted)="sorted()"
      ></app-user-page>
    </div>
    <div class="row">
      <div *ngFor="let user of allUsersAsync$ | async" class="col redAsync">
        <app-user-page [user]="user" (onShared)="sortName()"></app-user-page>
      </div>
    </div>
  </div>
</div>
