span {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.25rem;
  font-size: 0.75rem;
  color: #ffffff;
  font-family: "Open Sans";
  font-weight: bold;
  line-height: 1rem;
  cursor: pointer;
}
i {
  position: relative;
  left: 0.25rem;
}

table {
  margin-top: 2rem;
  margin-left: 2rem;
  width: 50rem;
  border-collapse: collapse;
  & > thead {
    background-color: #8f9bb3;
  }
}
th:last-of-type > span .fa {
  display: none;
}
tbody > tr {
  background-size: 10px;
  background-color: white;

  &:hover {
    cursor: pointer;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    color: black;
    border-left: 0.25rem solid #12bee4;
  }
}
