<button (click)="navigateToRoute('login')">click Login</button>
<button (click)="navigateToRoute('register')">click Register</button>
<button (click)="navigateToRoute('forgot/password')">
  click forgot password
</button>
<button (click)="navigateToRoute('reset/password')">
  click reset password
</button>
<br />
<hr />
<button (click)="navigateToRoute('users')">click users</button>
<button (click)="navigateToRoute('orders')">click orders</button>
<br />
<hr />
<button (click)="navigateToRoute('protect')">clic toto</button>

<router-outlet></router-outlet>
