<div *ngIf="link$ | async as link" class="activation">
  <h1 *ngIf="!link.success" class="activation_error">
    <p *ngIf=""></p>
    {{ link.message }} Redirecting in {{ timeLeft }}
  </h1>

  <div class="reset-body" *ngIf="link.success">
    <form [formGroup]="resetForm" (ngSubmit)="doResetPassword()">
      <div class="form-group">
        <input
          type="password"
          placeholder="password"
          [class.is-invalid]="getPassword.invalid && getPassword.touched"
          formControlName="password"
        />

        <app-span-form-message
          [validator-type]="getPassword"
          [minSize]="4"
          [maxSize]="100"
          [message-type]="'Password'"
        ></app-span-form-message>
      </div>

      <div class="btns__body">
        <button
          type="submit"
          class="btn__reset"
          [ngClass]="!resetForm.valid ? 'disabled' : 'notDisabled'"
          [disabled]="!resetForm.valid"
        >
          Restore password
        </button>
      </div>
    </form>
  </div>
</div>
