<div *ngIf="type.invalid && type.touched">
  <small *ngIf="type.errors?.required" class="text-danger"
    >{{ message }} must be required!</small
  >
  <small *ngIf="type.errors?.minlength" class="text-danger"
    >{{ message }} must be minimum {{ minSize }} characters!</small
  >
  <small *ngIf="type.errors?.maxlength" class="text-danger"
    >{{ message }} must be maximum {{ maxSize }} characters!</small
  >
  <small *ngIf="type.errors?.forbiddenNameInput" class="text-danger"
    >{{ type.errors?.forbiddenNameInput.value }} {{ message }} not
    allowed!</small
  >
</div>
<div *ngIf="type.valid && type.touched">
  <small *ngIf="!type.errors" class="text-success">{{ message }} OK</small>
</div>
