:root {
  font-size: 1rem;
  font-family: "Open Sans";
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --border-primary: #23232e;
  --border-secondary: #141418;
  --transition-speed: 600ms;
}

html,
body {
  color: black;
  background-color: white;
  margin: 0;
  padding: 0;
}

img {
  width: 5rem;
  height: 5rem;
}

/* VARIABLES THEMES */
.dark {
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --border-primary: #b6b6b6;
  --border-secondary: #ececec;
}
.light {
  --text-primary: #1f1f1f;
  --text-secondary: #000000;
  --bg-primary: #ffffff;
  --bg-secondary: #ffffff;
  --border-primary: #b6b6b6;
  --border-secondary: #ececec;
}
.solar {
  --text-primary: #576e75;
  --text-secondary: #35535c;
  --bg-primary: #fdf6e3;
  --bg-secondary: #f5e5b8;
  --border-primary: #b6b6b6;
  --border-secondary: #ffffff;
}

/* BUTTONS THEME */
.theme-icon {
  display: none;
}
.dark #darkIcon {
  display: block;
}
.light #lightIcon {
  display: block;
}
.solar #solarIcon {
  display: block;
}

/* SCROLL */
body::-webkit-scrollbar {
  width: 1rem; /* largeur scroll */
}
body::-webkit-scrollbar-track {
  background: #1e1e24; /* couleur de scroll */
  border-radius: 10px;
  border: 1px solid #aeaeb5;
  height: 75vh;
}
body::-webkit-scrollbar-thumb {
  background: #6649b8; /* couleur de pointeur dans scroll */
  border-radius: 10px;
  border: 1px solid #aeaeb5;
}
body::-webkit-scrollbar-thumb:hover {
  background: red;
}
body::-webkit-scrollbar-thumb:active {
  background: #aeaeb5; /* When you selected scroll*/
}
